body{
  background: black;
}
.navbar {
  background-color: black !important;
}
.navbar-brand {
  font-size: 1.6rem !important;
}
.navbar a{
  font-size: 1.2rem !important;
  text-transform: capitalize;
}
.navbar a:hover{
  background-color: blueviolet;
}
.nav_active{
  background: blueviolet;
}
.btn-get-started{
  color: white;
  text-decoration: none;
  border: 2px solid blueviolet;
  border-radius: 30px;
  transition: 2s ease;
}
.btn-get-started:hover{
  color: white;
  background:blueviolet;
}
.brand-name{
  color: blueviolet;
}